
body{
    width:100% ;
    margin: 0%;
    background: #f5fbff;
}

.main_div{
    width:100%; 
    background-color: #ffffff; 
    height: 145px; 
    box-shadow: 0 0 13px rgba(0,0,0,0.1);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub_div{
    width: 90%; 
    padding: 1%; 
    display: flex; 
    justify-content: space-between;
}

.logo{
    padding: 5px; 
    width: 15px; 
    height: 20px;
    background-color:#4438e4;
    border-radius: 5px
}

.logo_name{
    padding: 10px; 
    font-family: sans-serif; 
    font-weight: 600;
    font-size: 1.7em;
    color: #252525;
}

.logo_sub_name{
    color: #4438e4;
}

.search_main_span{
    display: flex; 
    justify-content:flex-end;
}

.search_icon{
    width: 40px;
    height: 45px;
    position: absolute;
    padding: 16px 7px;
}

.search_input{
    width: 100%;
    padding: 12px 20px;
    height: 30px;
    margin: 8px 0;
    display: inline-block;
    background-color: #f2f2f2;
    border: 0px solid rgb(182, 180, 180);
    border-radius: 20px;
    box-sizing: border-box;
}

.bell_main_span{
    padding: 15px;
}

.bell_icon{
    width:17px; 
    height: 17px;
}

.bell_span{
    background-color: #e41a1afa;
    border-radius: 50%;
    width: 1.1%;
    height: 16px;
    position:absolute;
    top:20px
}

.profile_picture{
    border-radius: 50%;
    height: 45px;
}

.expand_icon{
    width:20px;
    height: 40px; 
    padding: 15px 5px
}

/* HEADER SECTION */

.menu_bar{
    width: 90%;
    height: 45px;
    display: flex; 
    justify-content: space-between;
    background-color:#f2f2f2;
}

.menu{
    width: 16.7%;
    padding: 15px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.menu:hover{
    color: aliceblue;
}

.menu_icon_span{
    padding: 2px 0px;
}

.menu_icon_span_right{
    padding: 3px 0px;
}

.menu_icon{
    color: aliceblue; 
    width: 15px;
    height: 15px;
}

.menu_icon_right{
    color: aliceblue; 
    width: 7px;
    height: 10px;
}

.menu_text{
    padding: 0 9px;
}

/* FIRST SECTION */

#flex_section{
    display: flex;
    justify-content: center;
}
.sub_div_two{
    width: 90%; 
    padding: 2% 0 0 0; 
    display: flex; 
    justify-content: space-between;
}

.sub_div_border{
    width: 100%;
    /* height: 110px; */
    border: 1px solid #dadada;
    display: flex;
}

.box_span{
    width: 25%;
    border-right: 1px solid #dadada;
    background: #ffffff;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

.box_span_last{
    width: 25%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
 }

 .people_icon{
    width: 35px;
    height: 55px;
 }

 .people_icon_span{
    padding: 0px 25px 0px 0px;
 }

 .people_text{
    padding: 5px 0 0px 0;
 }

 .people_title{
    font-family: sans-serif;
    font-size: 1em;
    color: #383838;
 }
 .people_count{
    font-family: sans-serif;
    font-size: 2.2em;
    color: #383838;
 }

/* GRAPH SECTION */

 .sub_div_graph{
    width: 100%;
    height: 110px;
    display: flex;
}

.box_span_graph{
    width: 31.5%;
    /* height: 450px; */
    border: 1px solid #dadada;
    background: #ffffff;
}

.profile_div{
    padding: 35px 25px 0 25px;
    display: flex;
    justify-content: center;
}

.profile_div_product{
    padding: 35px 25px 0 25px;
}
.graph_profile{
    width: 70px;
    border-radius: 50%;
}

.name_header{
    margin: 10px;
    font-size: 1.3em;
    font-family: sans-serif;
    color: #545454;
    display: flex;
    justify-content: center;
}

.developer_p{
    margin: 10px;
    font-size: 1em;
    font-family: sans-serif;
    color: #888888;
    display: flex;
    justify-content: center;
}

.para_div{
    padding: 0px 25px;
}

.paragraph{
    margin: 25px 0;
    font-family: sans-serif;
    font-size: 1em;
    color: #484848;
    display: flex;
    justify-content: center;
    text-align: center;
}
.follow_div{
    display: flex;
    justify-content: center;
    padding: 0 0 30px;
}
.follow_button{
    background-color: #4438e4;
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;
}

.line_hr{
  margin: 20px 0;   
}

.graph_footer{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #aca8a8;
    padding : 30px 0 0;
}

.post_count{
    font-size: 1.3em;
    margin: 0;
    font-family: sans-serif;
    color: #2d2d2d;
}

.post_title{
    font-size: 0.9em;
    margin: 10px 0;
    font-family: sans-serif;
    color: #2d2d2d;
}

.product{
    margin: 0;
    font-size: 1em;
    font-family: sans-serif;
    color: #6d655b;
}

.product_price{
    margin: 0;
    font-size: 2.7em;
    font-family: sans-serif;
    color: #151027;
}

.product_rate{
    margin: 0;
    font-size: 0.8em;
    font-family: sans-serif;
    color: #5c5b6d;
}
.product_top_div{
    padding:  0 0 25px;
}

.product_bottom_div{
    border-top: 1px solid #aca8a8;
    padding: 25px 0 0;
}

.graph_div{
    display: flex;
    justify-content: space-around;
    padding: 35px 25px 0;
}

.graph_sales{
    margin: 0;
    font-size: 1.2em;
    font-family: sans-serif;
    color: #393a5a;
    padding: 0 0 5px 0px;
    text-align: center;
}

.graph_sales_title{
    margin: 0;
    font-size: 0.8em;
    font-family: sans-serif;
    color: #9a9a92;
    text-align: center;
}

.spline_div{
    min-width: 0px; 
    width: 250px; 
    height: 165px; 
    margin: 42px auto
}

.line_div{
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.graph_div_two{
    display: flex;
    justify-content: space-around;
    padding: 15px 25px 0;
}
/* TABLE SECTION */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: .8em;
  }
  
  td, th {
    text-align: left;
    height: 60px;
    padding: 0 0px 0 35px;
  }
  
  tr {
    background-color: #f1f3ff;
    color: #565656;
  }

.sub_div_table{
    width: 100%;
    display: flex;
    border: 1px solid white;
}

.table_rows{
    background: white;
    border-top:  1px solid #dadada;
    border-left:  1px solid #dadada;
    border-right:  1px solid #dadada;
}

.approve_button{
    background-color: #62ca67;
    border: none;
    color: white;
    padding: 6px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;
}

.pending_button{
    background-color: #e48038;
    border: none;
    color: white;
    padding: 6px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;
}

.rejected_button{
    background-color: #dc2e2e;
    border: none;
    color: white;
    padding: 6px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;
}

/* CHART SECTION */

 .sub_div_chart{
    width: 100%;
    height: 110px;
    display: flex;
}

.box_span_chart{
    width: 48.5%;
    /* height: 410px; */
    border: 1px solid #dadada;
    background: #ffffff;
}

.chart_title{
    padding: 35px 25px;
}

.chart_main{
    display:flex; 
    justify-content: space-evenly; 
    padding: 0 15px 50px
}

* {box-sizing: border-box}

.container {
    width: 4%;
    height:150px;
    background-color:#4438e4;
  }

.container_1 {
  width: 100%;
  height:150px;
  background-color:#4438e4;
}

.inner_container_1 {
    width: 100%;
    height:120px;
    background-color: rgb(239, 246, 255);
  }

  .inner_container_1 {
    width: 100%;
    height:100px;
    background-color: rgb(239, 246, 255);
  }

  .inner_container_2 {
    width: 100%;
    height:60px;
    background-color: rgb(239, 246, 255);
  }

  .inner_container_3 {
    width: 100%;
    height:105px;
    background-color: rgb(239, 246, 255);
  }

  .inner_container_4 {
    width: 100%;
    height:80px;
    background-color: rgb(239, 246, 255);
  }

  .inner_container_5 {
    width: 100%;
    height:135px;
    background-color: rgb(239, 246, 255);
  }

  .inner_container_6 {
    width: 100%;
    height:20px;
    background-color: rgb(239, 246, 255);
  }

  .inner_container_7 {
    width: 100%;
    height:100px;
    background-color: rgb(239, 246, 255);
  }

  .project_status{
    padding: 15px 25px;
    border-top:  1px solid #dadada;
  }

  .pcs{
    font-size: 0.5em;
  }

  .container_line_1 {
    width: 3px;
    height:50px;
    background-color: rgb(239, 246, 255);
    margin: 0 6px 0;
  }

  .container_line_2 {
    width: 3px;
    height:20px;
    background-color: rgb(239, 246, 255);
    margin: 0 6px 0;
  }

  .chart_description{
    padding: 0 15px;
  }

  .circle{
    padding: 15px 0 0;
  }

  .circle_bottom{
    padding: 15px 0 0;
  }

  .circle_div{
    display: flex;
    padding: 15px 0 0;
  }

  .circle_bottom_div{
    display: flex;
  }

  .watch_icon{
      width: 20px;
  }

  .watch_main{
    display: flex;
  }

  .chart_p1{
    margin: 0;
    font-size: 1.2em;
    font-family: sans-serif;
    color: #424979;
    padding: 3px 0;
  }

  .chart_p2{
    margin: 0;
    font-size: 1em;
    font-family: sans-serif;
    color: #3d4261;
    padding: 3px 0;
  }

  .chart_p3{
    margin: 0;
    font-size: 1em;
    font-family: sans-serif;
    color: #808080;
    padding: 2px 0;
  }

  .days{
    font-size: 1em;
    font-family: sans-serif;
    color: grey;
  }
/* FOOTER SECTION */

.sub_div_footer{
    width: 90%; 
    padding: 2% 0 4% 0; 
    display: flex; 
    justify-content: space-between;
}

.box_span_footer{
    width: 100%;
    /* height: 470px; */
    border: 1px solid #dadada;
    background: #ffffff;
    padding: 35px 25px;
}

.footer_title{
    font-size: 1.4em;
    margin: 0;
    font-family: sans-serif;
    color: #2d2d2d;
}

.first_div{
    display: flex;
    padding: 30px 0 0 0px;
    border-bottom: 1px solid #aca8a8
}

.left_div{
    width: 13%;
    padding: 0 0 0 10px;
}

.middle_div{
    width: 55%
}

.right_div{
    width: 20%;
    padding: 0px 0;
}

.james_span{
    color: #1b1f40;
    font-size: 17px;
    font-weight: bold;
}

.james_span_1{
    color: #1b1f40;
    font-size: 16px;
}

.description{
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    color: #6d655b;
}

.last_footer_div{
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    color: #afafaf;
    padding: 15px 0;
}

.respond_span{
    padding: 0 30px 0 0px;
}

.due_span{
    padding: 0 0px 0 30px;
}

.footer_profile{
    width: 50px;
    border-radius: 50%;
}


/* MEDIA QUERY */
