
body{
    width:100% ;
    min-width: 320px;
    margin: 0%;
    background: #f5fbff;
}

.main_div{
    width:100%; 
    background-color: #ffffff; 
    height: 145px; 
    box-shadow: 0 0 13px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub_div{
    width: 90%; 
    padding: 1%; 
    display: flex; 
    justify-content: space-between;
}

.logo{
    padding: 5px; 
    width: 15px; 
    height: 20px;
    background-color:#4438e4;
    border-radius: 5px
}

.logo_name{
    padding: 10px; 
    font-family: sans-serif; 
    font-weight: 600;
    font-size: 1.7em;
    color: #252525;
}

.logo_sub_name{
    color: #4438e4;
}

.search_main_span{
    display: flex; 
    justify-content:flex-end;
    position: relative;
}

.search_icon{
    width: 40px;
    height: 45px;
    position: absolute;
    padding: 16px 7px;
}

.search_input{
    width: 100%;
    padding: 12px 20px;
    height: 30px;
    margin: 8px 0;
    display: inline-block;
    background-color: #f2f2f2;
    border: 0px solid rgb(182, 180, 180);
    border-radius: 20px;
    box-sizing: border-box;
}

.bell_main_span{
    padding: 15px;
}

.bell_icon{
    width:17px; 
    height: 17px;
}

.bell_span{
    background-color: #e41a1afa;
    border-radius: 50%;
    width: 3%;
    height: 16px;
    position: absolute;
    top: 1px;
    left: 73%;
    text-align: center;
}

.profile_picture{
    border-radius: 50%;
    height: 45px;
}

.expand_icon{
    width:20px;
    height: 40px; 
    padding: 15px 5px
}

/* HEADER SECTION */

.menu_bar{
    width: 90%;
    height: 45px;
    display: flex; 
    justify-content: space-between;
    background-color:#f2f2f2;
}

.menu{
    width: 16.7%;
    padding: 15px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.menu:hover{
    color: aliceblue;
    background: #4438e4;
}

.menu_icon_span{
    padding: 2px 0px;
}

.menu_icon_span_right{
    padding: 3px 0px;
}

.menu_icon{
    color: aliceblue; 
    width: 15px;
    height: 15px;
}

.menu_icon_right{
    color: aliceblue; 
    width: 7px;
    height: 10px;
}

.menu_text{
    padding: 0 9px;
    font-size: 0.8em;
}

/* FIRST SECTION */

.flex_section{
    display: flex;
    justify-content: center;
}
.sub_div_two{
    width: 90%; 
    padding: 2% 0 0 0; 
    display: flex; 
    justify-content: space-between;
}

.sub_div_border{
    width: 100%;
    /* height: 110px; */
    border: 1px solid #dadada;
    display: flex;
}

.box_span{
    width: 25%;
    border-right: 1px solid #dadada;
    background: #ffffff;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

.box_span_last{
    width: 25%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
 }

 .people_icon{
    width: 35px;
    height: 55px;
 }

 .people_icon_span{
    padding: 0px 25px 0px 0px;
 }

 .people_text{
    padding: 5px 0 0px 0;
 }

 .people_title{
    font-family: sans-serif;
    font-size: 1em;
    color: #383838;
 }
 .people_count{
    font-family: sans-serif;
    font-size: 2.2em;
    color: #383838;
 }

/* GRAPH SECTION */

 .sub_div_graph{
    width: 100%;
    height: 110px;
    display: flex;
}

.box_span_graph{
    width: 31.5%;
    /* height: 450px; */
    border: 1px solid #dadada;
    background: #ffffff;
}

.profile_div{
    padding: 35px 25px 0 25px;
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
}

.profile_div_product{
    padding: 35px 25px 0 25px;
}
.graph_profile{
    width: 70px;
    border-radius: 50%;
}

.name_header{
    margin: 10px;
    font-size: 1.3em;
    font-family: sans-serif;
    color: #545454;
    display: flex;
    justify-content: center;
}

.developer_p{
    margin: 10px;
    font-size: 1em;
    font-family: sans-serif;
    color: #888888;
    display: flex;
    justify-content: center;
}

.para_div{
    padding: 0px 25px;
}

.paragraph{
    margin: 25px 0;
    font-family: sans-serif;
    font-size: 1em;
    color: #484848;
    display: flex;
    justify-content: center;
    text-align: center;
}
.follow_div{
    display: flex;
    justify-content: center;
    padding: 0 0 30px;
}
.follow_button{
    background-color: #4438e4;
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;
}

.line_hr{
  margin: 20px 0;   
}

.graph_footer{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #aca8a8;
    padding : 30px 0 0;
}

.post_count{
    font-size: 1.3em;
    margin: 0;
    font-family: sans-serif;
    color: #2d2d2d;
}

.post_title{
    font-size: 0.9em;
    margin: 10px 0;
    font-family: sans-serif;
    color: #2d2d2d;
}

.product{
    margin: 0;
    font-size: 1em;
    font-family: sans-serif;
    color: #6d655b;
}

.product_price{
    margin: 0;
    font-size: 2.7em;
    font-family: sans-serif;
    color: #151027;
}

.product_rate{
    margin: 0;
    font-size: 0.8em;
    font-family: sans-serif;
    color: #5c5b6d;
}
.product_top_div{
    padding:  0 0 25px;
}

.product_bottom_div{
    border-top: 1px solid #aca8a8;
    padding: 25px 0 0;
}

.graph_div{
    display: flex;
    justify-content: space-around;
    padding: 35px 25px 0;
}

.graph_sales{
    margin: 0;
    font-size: 1.2em;
    font-family: sans-serif;
    color: #393a5a;
    padding: 0 0 5px 0px;
    text-align: center;
}

.graph_sales_title{
    margin: 0;
    font-size: 0.8em;
    font-family: sans-serif;
    color: #9a9a92;
    text-align: center;
}

.spline_div{
    min-width: 0px; 
    width: 250px; 
    height: 165px; 
    margin: 42px auto
}

.line_div{
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.graph_div_two{
    display: flex;
    justify-content: space-around;
    padding: 15px 25px 35px;
}
/* TABLE SECTION */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: .8em;
  }
  
  td, th {
    text-align: left;
    height: 60px;
    padding: 0 0px 0 35px;
  }
  
  tr {
    background-color: #f1f3ff;
    color: #565656;
  }

.sub_div_table{
    width: 100%;
    display: flex;
    border: 1px solid white;
    overflow-x: auto;
    overflow-y: hidden;
}

.table_rows{
    background: white;
    border-top:  1px solid #dadada;
    border-left:  1px solid #dadada;
    border-right:  1px solid #dadada;
}

.approve_button{
    background-color: #62ca67;
    border: none;
    color: white;
    padding: 6px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;
}

.pending_button{
    background-color: #e48038;
    border: none;
    color: white;
    padding: 6px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;
}

.rejected_button{
    background-color: #dc2e2e;
    border: none;
    color: white;
    padding: 6px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;
}

/* CHART SECTION */

 .sub_div_chart{
    width: 100%;
    height: 110px;
    display: flex;
}

.box_span_chart{
    width: 48.5%;
    /* height: 410px; */
    border: 1px solid #dadada;
    background: #ffffff;
}

.chart_title{
    padding: 35px 25px;
}

.chart_main{
    display:flex; 
    justify-content: space-evenly; 
    padding: 0 15px 50px
}

* {box-sizing: border-box}

.container {
    width: 4%;
    height:150px;
    background-color:#4438e4;
  }

.container_1 {
  width: 100%;
  height:150px;
  background-color:#4438e4;
}

.inner_container_1 {
    width: 100%;
    height:120px;
    background-color: rgb(239, 246, 255);
  }

  .inner_container_1 {
    width: 100%;
    height:100px;
    background-color: rgb(239, 246, 255);
  }

  .inner_container_2 {
    width: 100%;
    height:60px;
    background-color: rgb(239, 246, 255);
  }

  .inner_container_3 {
    width: 100%;
    height:105px;
    background-color: rgb(239, 246, 255);
  }

  .inner_container_4 {
    width: 100%;
    height:80px;
    background-color: rgb(239, 246, 255);
  }

  .inner_container_5 {
    width: 100%;
    height:135px;
    background-color: rgb(239, 246, 255);
  }

  .inner_container_6 {
    width: 100%;
    height:20px;
    background-color: rgb(239, 246, 255);
  }

  .inner_container_7 {
    width: 100%;
    height:100px;
    background-color: rgb(239, 246, 255);
  }

  .project_status{
    padding: 15px 25px;
    border-top:  1px solid #dadada;
  }

  .pcs{
    font-size: 0.5em;
  }

  .container_line_1 {
    width: 3px;
    height: 58px;
    position: absolute;
    background-color: rgb(239, 246, 255);
    margin: 0 6px 0;
  }

  .chart_description{
    padding: 0 15px;
  }

  .circle{
    /* padding: 15px 0 0; */
    margin: 16px 0 0px;
  }

  .circle_bottom{
    padding: 15px 0 0;
  }

  .circle_div{
    display: flex;
    /* padding: 15px 0 0; */
  }

  #update_title{
    margin-bottom: 5%;
  }

  .watch_icon{
      width: 20px;
  }

  .watch_main{
    display: flex;
  }

  .chart_p1{
    margin: 0;
    font-size: 1.2em;
    font-family: sans-serif;
    color: #424979;
    padding: 3px 0;
  }

  .chart_p2{
    margin: 0;
    font-size: 1em;
    font-family: sans-serif;
    color: #3d4261;
    padding: 3px 0;
  }

  .chart_p2::after{
    width: 3px;
    height: 58px;
    position: absolute;
    background-color: rgb(239, 246, 255);
    margin: 0 6px 0;
  }

  .chart_p3{
    margin: 0;
    font-size: 1em;
    font-family: sans-serif;
    color: #808080;
    padding: 2px 0;
  }

  .days{
    font-size: 1em;
    font-family: sans-serif;
    color: grey;
  }
/* FOOTER SECTION */

.sub_div_footer{
    width: 90%; 
    padding: 2% 0 4% 0; 
    display: flex; 
    justify-content: space-between;
}

.box_span_footer{
    width: 100%;
    /* height: 470px; */
    border: 1px solid #dadada;
    background: #ffffff;
    padding: 35px 25px;
}

.footer_title{
    font-size: 1.4em;
    margin: 0;
    font-family: sans-serif;
    color: #2d2d2d;
}

.first_div{
    display: flex;
    padding: 30px 0 0 0px;
    border-bottom: 1px solid #aca8a8
}

.left_div{
    width: 13%;
    padding: 0 0 0 10px;
}

.middle_div{
    width: 55%
}

.right_div{
    width: 20%;
    padding: 0px 0;
    text-align: center;
}

.james_span{
    color: #1b1f40;
    font-size: 17px;
    font-weight: bold;
}

.james_span_1{
    color: #1b1f40;
    font-size: 16px;
}

.description{
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    color: #6d655b;
}

.last_footer_div{
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    color: #afafaf;
    padding: 15px 0;
}

.respond_span{
    padding: 0 30px 0 0px;
}

.due_span{
    padding: 0 0px 0 30px;
}

.footer_profile{
    width: 50px;
    border-radius: 50%;
}

/* Menu card onclick */

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  

/* MEDIA QUERY 425PX*/

@media screen and (max-width: 425px) {

    .menu_div {
         width: 25px;
         height: 4px;
         background-color: black;
         margin: 3px 0;
     }
 
     .menu_icon_div {
         padding: 25px 0 0px 0;
     }
 
     .main_div {
         height: auto;
     }
 
     .liberty_ui {
         width: 50%;
         padding: 10px 0 0 0;
     }
 
     .logo_name {
         font-size: 1.4em;
         padding: 10px 20px 0 10px;
     }
 
     .menu_text {
         font-size: 0.9em !important;
     }
 
     .search_main_span{
         width: 38% !important;
         flex-flow: wrap-reverse;
         padding: 5px 0;
     }
 
     .search_icon {
         width: 40px;
         height: 45px;
         position: absolute;
         padding: 16px 3px;
         bottom: -3px;
         left: -5px;
     }
 
     .search_input {
         width: 100%;
         padding: 12px 20px;
         height: 30px;
         margin: 0;
         display: inline-block;
         background-color: #f2f2f2;
         border: 0px solid rgb(182, 180, 180);
         border-radius: 20px;
         box-sizing: border-box;
     }
 
     .bell_main_span {
         padding: 11px;
     }
 
     .bell_icon {
         width: 17px;
         height: 17px;
     }
 
     .bell_span {
         background-color: #e41a1afa;
         border-radius: 50%;
         width: 6%;
         height: 17px;
         position: relative;
         left: -8px;
         top: -12px;
         text-align: center;
     }
 
     .profile_picture {
         border-radius: 50%;
         height: 35px;
         margin: 0 0 10px;
     }
 
     .menu_bar {
         display: none;
     }

/* fsddddddddddddddddddf */

     .menu_bar {
        width: 90%;
        height: auto !important;
        display: flex;
        justify-content: space-between;
        flex-flow: column;
        background-color: #f2f2f2;
        display: none;
    }

    .menu {
        width: 100%;
        padding: 6px 14px;
        font-size: 0.9em;
        font-family: sans-serif;
        display: flex;
        justify-content: flex-start;
    }

    #menu_bar_id {
        color: aliceblue;
        width: 12px;
        height: 12px;
    }

 /* sdffffffffffffffffffffffffff */
     .box_span {
         width: 25%;
         border-right: 1px solid #dadada;
         background: #ffffff;
         display: flex;
         justify-content: center;
         padding: 17px 0px;
         flex-direction: column;
     }
 
     .box_span_last {
         padding: 17px 0px;
         display: flex;
         justify-content: center;
         padding: 17px 0px;
         flex-direction: column;
     }
 
     .sub_div_two {
         display: flex;
         justify-content: space-between;
         flex-direction: column !important;
     }
 
     .box_span_graph {
         width: 100% !important;
         border: 1px solid #dadada;
         background: #ffffff;
         margin: 15px 0;
     }
 
     .box_span_chart {
         width: 100%;
         border: 1px solid #dadada;
         background: #ffffff;
         margin: 15px 0;
     }
 
     .container_line_1{
         height: 64px!important;
     }
 
     .people_icon{
         width: 15px !important;
         height: 25px !important;
      }
     
      .people_icon_span{
         padding: 0px 2px 0px 0px !important;
         align-self: center;
      }
 
      .people_text{
          padding: 0px !important;
          align-self: center;
      }
      .people_title{
         font-size: 0.7em !important;
         text-align: center;
      } 
      .people_count{
          font-size: 0.9em;
          text-align: center;
      }
 
      .left_div {
         width: 25%;
         padding: 0 0 0 0px;
     }
 
     .middle_div {
         width: 53%;
     }
 
     .product {
         font-size: 0.8em !important;
     }
 
     .james_span {
         font-size: 14px !important;
     }
 
     .james_span_1 {
         font-size: 13px !important;
     }
 
     .description {
         font-size: 13px !important;
     }
 
     .last_footer_div {
         font-size: 12px;
     }
 
     .respond_span {
         padding: 0 110px 0 0px;
     }
 
     .due_span{
         padding: 0;
     }
 
     .follow_button {
         padding: 5px 8px;
         font-size: 13px;
     }
 
     .product_price {
         font-size: 2em;
     }
 
     .days {
         font-size: 0.8em;
     }
 
     .chart_p1 {
         font-size: 1em;
     }
 
     .chart_p2 {
         font-size: 0.8em;
     }
 
     .chart_p3 {
         font-size: 0.8em;
     }
 
     .sub_div_table{
         overflow-x: auto;
         overflow-y: hidden;
     }
 
     .graph_div_two {
         padding: 15px 25px 15px;
     }
 
     .graph_footer {
         padding: 30px 0 15px;
     }
 
     .name_header{
         font-size: 1.1em;
     }
 
     .paragraph{
         font-size: 0.8em;
     }
 
     .product {
         margin: 0;
         font-size: 1em;
         font-family: sans-serif;
         color: #6d655b;
         padding: 0 0 5px 0;
     }
 
     .right_div {
         width: 20%;
         padding: 0px 0px;
         text-align: center;
     }
 } 
 
 
 /* MEDIA QUERY 549PX and 424PX*/
 
 @media only screen and (max-width: 549px) and (min-width: 426px) {
 
 
    .menu_div {
         width: 25px;
         height: 4px;
         background-color: black;
         margin: 3px 0;
     }
 
 
     .menu_icon_div {
         padding: 30px 0 0px 0;
     }
 
     .main_div {
         height: auto;
     }
 
     .liberty_ui {
         width: 50%;
         /* padding: 0 0 10px 0; */
     }
 
     .logo_name {
         font-size: 1.4em;
         padding: 0 88px 0 10px;
     }
 
     .menu_text {
         font-size: 0.9em !important;
     }
 
     .search_main_span{
         width: 38% !important;
         flex-flow: wrap-reverse;
         padding: 5px 0;
     }
 
     .sub_div {
         width: 90%;
         padding: 3% 0;
         display: flex;
         justify-content: space-between;
     }
 
     .search_icon {
         width: 40px;
         height: 45px;
         position: absolute;
         padding: 16px 3px;
         bottom: -4px;
         left: -5px;
     }
 
     .search_input {
         width: 100%;
         padding: 12px 20px;
         height: 30px;
         margin: 0;
         display: inline-block;
         background-color: #f2f2f2;
         border: 0px solid rgb(182, 180, 180);
         border-radius: 20px;
         box-sizing: border-box;
     }
 
     .bell_main_span {
         padding: 11px;
     }
 
     .bell_icon {
         width: 17px;
         height: 17px;
     }
 
     .bell_span {
         background-color: #e41a1afa;
         border-radius: 50%;
         width: 6%;
         height: 17px;
         position: relative;
         left: -8px;
         top: -15px;
         text-align: center;
     }
 
     .profile_picture {
         border-radius: 50%;
         height: 35px;
         margin: 0 0 10px;
     }
 
     #menu_bar_id {
         display: none;
     }

     .menu_bar {
        width: 90%;
        height: auto !important;
        display: flex;
        justify-content: space-between;
        flex-flow: column;
        background-color: #f2f2f2;
    }

    .menu {
        width: 100%;
        padding: 6px 14px;
        font-size: 0.9em;
        font-family: sans-serif;
        display: flex;
        justify-content: flex-start;
    }

    .menu_icon {
        color: aliceblue;
        width: 12px;
        height: 12px;
    }

 
     .box_span {
         width: 25%;
         border-right: 1px solid #dadada;
         background: #ffffff;
         display: flex;
         justify-content: center;
         padding: 17px 0px;
         flex-direction: column;
     }
 
     .box_span_last {
         padding: 17px 0px;
         display: flex;
         justify-content: center;
         padding: 17px 0px;
         flex-direction: column;
     }
 
     .sub_div_two {
         display: flex;
         justify-content: space-between;
         flex-direction: column !important;
     }
 
     .box_span_graph {
         width: 100% !important;
         border: 1px solid #dadada;
         background: #ffffff;
         margin: 15px 0;
     }
 
     .box_span_chart {
         width: 100%;
         border: 1px solid #dadada;
         background: #ffffff;
         margin: 15px 0;
     }
 
     .container_line_1{
         height: 48px!important;
     }
 
     .people_icon{
         width: 15px !important;
         height: 25px !important;
      }
     
      .people_icon_span{
         padding: 0px 2px 0px 0px !important;
         align-self: center;
      }
 
      .people_text{
          padding: 0px !important;
          align-self: center;
      }
      .people_title{
         font-size: 0.7em !important;
         text-align: center;
      } 
      .people_count{
          font-size: 0.9em;
          text-align: center;
      }
 
      .left_div {
         width: 20%;
         padding: 0 0 0 0px;
     }
 
     .middle_div {
         width: 55%;
     }
 
     .right_div {
         width: 25%;
         padding: 0px 0;
         text-align: center;
     }
 
     .product {
         font-size: 0.8em !important;
     }
 
     .james_span {
         font-size: 14px !important;
     }
 
     .james_span_1 {
         font-size: 13px !important;
     }
 
     .description {
         font-size: 13px !important;
     }
 
     .last_footer_div {
         font-size: 11px;
     }
 
     .respond_span {
         padding: 0 120px 0 0px;
     }
 
     .due_span{
         padding: 0;
     }
 
     .follow_button {
         padding: 5px 8px;
         font-size: 13px;
     }
 
     .product_price {
         font-size: 2em;
     }
 
     .days {
         font-size: 0.8em;
     }
 
     .chart_p1 {
         font-size: 1em;
     }
 
     .chart_p2 {
         font-size: 0.8em;
     }
 
     .chart_p3 {
         font-size: 0.8em;
     }
 
     .sub_div_table{
         overflow-x: auto;
         overflow-y: hidden;
     }
 
     .graph_div_two {
         padding: 15px 25px 15px;
     }
 
     .graph_footer {
         padding: 30px 0 15px;
     }
 
     .name_header{
         font-size: 1.1em;
     }
 
     .paragraph{
         font-size: 0.8em;
     }
 
     .product {
         margin: 0;
         font-size: 1em;
         font-family: sans-serif;
         color: #6d655b;
         padding: 0 0 5px 0;
     }
 } 
 
 /* MEDIA QUERY 768PX AND 550PX */
 @media only screen and (max-width: 768px) and (min-width:550px){
 
     .menu {
         width: 18%;
         padding: 15px 0;
         font-size: 0.8em;
         font-family: sans-serif;
         display: flex;
         justify-content: center;
     }
 
     .input_width {
         width: 50%;
     }
     .menu_text {
         padding: 0 4px;
         font-size: 0.8em;
     }
 
     .menu_icon_span {
         padding: 0px 0px 0 7px;
     }
 
     .menu_icon {
         color: aliceblue;
         width: 11px;
         height: 11px;
     }    
 
     .people_icon_span {
         padding: 0px 10px 0px 0px;
     }
 
     .people_icon {
         width: 22px;
         height: 55px;
     }
 
     .people_title {
         font-size: 0.8em;
     }
 
     .people_count {
         font-size: 1.3em;
     }
 
     .people_text {
         padding: 5px 0 0px 0;
     }
 
     .menu_icon_span_right {
         padding: 0px 0px;
     }
 
     .sub_div_two {
         display: flex;
         justify-content: space-between;
         flex-direction: column !important;
     }
 
     .box_span_graph {
         width: 100% !important;
         border: 1px solid #dadada;
         background: #ffffff;
         margin: 15px 0;
     }
 
     .box_span_chart {
         width: 100%;
         border: 1px solid #dadada;
         background: #ffffff;
         margin: 15px 0;
     }
 
     .product_price {
         font-size: 2.1em;
     }
 
     .left_div {
         width: 17%;
         padding: 0 0 0 0px;
     }
 
     .due_span {
         padding: 0 0px 0 0px;
     }
 
     .product {
         margin: 0;
         font-size: 1em;
         font-family: sans-serif;
         color: #6d655b;
         padding: 0 0 5px 0;
     }
 
     .respond_span{
         padding: 0 120px 0 0;
     }
 }
 